* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #D8DDDE;
}

header {
    background: #3f2242;
    color: #fff;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;

}


header h1 {
    text-align: left;
    padding: 20px;
    width: 70%;
    float: left;
    font-family:"Teko-VariableFont_wght",Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #fff;
    overflow: hidden;
    letter-spacing: 10px;
}

header h2 {
    padding: 20px;
    width: 30%;
    float: left;
    text-align: right;
    font-family:"Antonio-Regular",Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: #fff;
    overflow: hidden;
}



main {
    flex: 1;
}

footer {
    margin-top: auto; /* Esto empujará el pie de página hacia la parte inferior */
    padding: 5px;
    width: 100%;
    background: black;
    color: #fff;
    font-family: "LibreBarcode128Text-Regular",Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
}

@font-face {
    font-family: "Orbitron-VariableFont_wght";
    src: url("fonts/Orbitron-VariableFont_wght.ttf");

}


@font-face {
    font-family: "LibreBarcode128Text-Regular";
    src: url("fonts/LibreBarcode128Text-Regular.ttf");
}

@font-face {
    font-family: "PressStart2P-Regular";
    src: url("fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "Silkscreen-Bold";
    src: url("fonts/Silkscreen-Bold.ttf");
}

@font-face {
    font-family: "Silkscreen-Regular";
    src: url("fonts/Silkscreen-Regular.ttf");
}

@font-face {
    font-family: "Sixtyfour-Regular-VariableFont_BLED\,SCAN";
    src: url("fonts/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf");
}

@font-face {
    font-family: "Antonio-Regular";
    src: url("fonts/Antonio-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans-VariableFont_wght";
    src: url("fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Teko-VariableFont_wght";
    src: url("fonts/Teko-VariableFont_wght.ttf");
}

@media screen and (max-width:800px){
    header h1{
        font-size: 30px;
    }

    header h2{
        font-size: 25px;
    }
    
}