# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

#Forzar libs
!poi-3.12-20150511.jar
!mariadb-java-client-3.0.11.jar
/Proyecto_ShopOnline/Proyecto_ShopOnline/target/
/Mercado_FronteraHnos/Mercado_FronteraHnos/target/
/Mercado_FronteraHnos_Alfa/Mercado_FronteraHnos/target/
/Mercado_FronteraHnos_AlfaV2(Remoto)/Mercado_FronteraHnos/target/
/Mercado_FronteraHnos/Prueba/nbproject/private/
/Mercado_FronteraHnos/Inversiones/target/
/Mercado_FronteraHnos/GestionDePedidos_FronteraHnos/target/
/GestionDePedidos_FronteraHnos/target/
/Mercado_FronteraHnos/facturacionElectronicaAFIP/target/
/CalculadoraDeCostosV3/target/
/GestionDeNegocio/GestionDeNegocio/target/
/JAVA/Quantum-Sys Negocios/GestionDeNegocio/target/
