*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #CEE5F2;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

header{
    background: #536B78;
}

header nav{
    width: 100%;
}

header nav ul{
    width: 100%;
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
    transition: all .3s ease;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #fff
}

header nav ul li a:hover{
    background: #7C98B3;
    color: black;
}

.main{
    width: 70%;
    background: #fff;
    float: left;
}

.main .imagen{
    width: 100%;
}

.main .imagen img{
    width: 100%;
    vertical-align: top;
}

.main .posts{
    padding: 40px;
}

.main .posts article h2{
    color: #536B78;
    margin-bottom: 20px;
}

.main .posts article p{
    margin-bottom: 20px;
    line-height: 20px;
}

aside{
    width: 30%;
    background: #637081;
    padding: 20px;
    color: #fff;
    float: left;
}

aside .widget{
    margin-bottom: 20px;
}

aside .widget .titulo{
    color: #CEE5F2;
    border-bottom: 1px solid #CEE5F2;
    margin-bottom: 20px;
}

aside .widget ul{
    list-style: none;
}

aside .widget ul li {
    border-bottom: 1px solid #fff;
    padding: 10px;
}

aside .widget ul li a{
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

aside .widget ul li a:hover{
    color:#CEE5F2;
}

aside .widget p{
    padding: 5px;
    line-height: 20px;
}

footer{
    width: 70%;
    background: black;
    overflow: hidden;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

@media screen and (max-width:800px){
    .main{
        width: 100%;
    }

    aside{
        width: 100%;
    }

    footer{
        width: 100%;
    }
    
}

