body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

table,td,th {
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 50%;
    max-width: 500px;
    text-align: center;
}

th,td{
    padding: 10px 20px;
}

th{
    background: #51355A;
    color: aliceblue;
}

tr{
    background: #F5F8DE;
}

tr:hover{
    background: #B59DA4;
}