.contenedor .formulario {
    width: 60%;
    height: 80%;
    border: 1px solid black;
    z-index: 3;
    background-color: white;
    position: absolute;
    opacity: 0.6;
    border-radius: 15px;
}

.contenedor .formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contenedor .formulario form .nombreMedico,
.apellidoMedico,
.docMedico,
.especialidadMedico,
.btnEnviar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
}

.contenedor .formulario form .nombreMedico,
.apellidoMedico,
.docMedico,
.especialidadMedico,
.btnEnviar {
    font-size: 1.5rem;
}

.contenedor .formulario form .nombreMedico,
.contenedor .formulario form .apellidoMedico,
.contenedor .formulario form .docMedico,
.contenedor .formulario form .especialidadMedico,
.contenedor .formulario form .btnEnviar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
    font-size: 1.5rem;
}

.contenedor .formulario form .nombreMedico label,
.contenedor .formulario form .apellidoMedico label,
.contenedor .formulario form .docMedico label,
.contenedor .formulario form .especialidadMedico label {
    width: 20%;
    color: black;
    font-weight: bold;
}

.contenedor .formulario form .nombreMedico input,
.contenedor .formulario form .apellidoMedico input,
.contenedor .formulario form .docMedico input,
.contenedor .formulario form .especialidadMedico input {
    width: 60%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: border 0.1s;
    border: 1px solid transparent;
    padding: 0.5%;
}

.contenedor .formulario form .nombreMedico input:hover,
.contenedor .formulario form .apellidoMedico input:hover,
.contenedor .formulario form .docMedico input:hover,
.contenedor .formulario form .especialidadMedico input:hover {
    border: 1px solid #41CCBD;
}

.contenedor .formulario form .nombreMedico input:focus,
.contenedor .formulario form .apellidoMedico input:focus,
.contenedor .formulario form .docMedico input:focus,
.contenedor .formulario form .especialidadMedico input:focus {
    border: 1px solid #41CCBD;
    outline: none; /* Asegúrate de eliminar el contorno predeterminado del navegador */
}

.contenedor .formulario form .btnEnviar button{
    font-weight: bold;
    padding: 0.5% 3%;
    border: 1px solid black;
    border-radius: 10px;
    transition: color 0.3s,background-color 0.3s;
}

.contenedor .formulario form .btnEnviar button:hover{
    background-color: #41CCBD;
    color: white;
}