body{
   background-image: url('img/fondo2.jpg'); /*RUTA IMAGEN*/
    background-size: cover;/*CUANTO OCUPARA EL FONDO DEL TOTAL DE LA PAGINA WEB*/
    background-repeat: no-repeat;/*NO SE REPITA LA IMAGEN*/
    background-attachment: fixed;/*LA IMAGEN SE MANTIENE AUNQUE HAGAMOS SCROLL CON EL MOUSE*/
    background-position: center center/*CENTRAR IMAGEN*/;
    
}

.fondo{
    width: 600;
    height: 600;
    background: url('img/fondo2.jpg') #000;
}