/*SELECTOR UNIVERSAL*/
* {}

/*SELECTORES DE ETIQUETA*/
h1,h2,h3,h4{}

/*SELECTORES DESCENDENTES*/
p a{
    font-size: 20px;
    color: red;
}

/*SELECTORES DE CLASES*/
.grande{
    font-size: 40px;
    color: brown;
}

